.logo-container {
  z-index: 0;
  width: 400px;
  height: 550px;
  opacity: 0;
  position: absolute;
  top: 60px;
  right: 8%;
  bottom: 0;
  left: auto;
  margin: auto;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -11;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateZ(30deg) !important;
    z-index: 1;
    transition: opacity 1s 4s;

    @media screen and (max-width: 600px) {
      width: 105px;
      position: absolute;
      top: 15px;
      right: 0px;
      bottom: -100px;
      left: -3px;
    }

  }

  .svg-container path {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: drawStroke 2s 1s forwards;
  }

  @keyframes drawStroke {
    0% {
      stroke-dashoffset: 4000;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }

  .svg-container {
    stroke: #ffd700;
    stroke-width: 10;
  }
}

@keyframes fadeSolidLogo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logo-container.show .solid-logo {
  opacity: 1;
}

.logo-container.show {
  opacity: 1;
  animation: fadeSolidLogo 1s 4s forwards;
}